html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background: url("https://everwallpaper.com/cdn/shop/products/in-the-forest-wallpaper-room.jpg?v=1649926062");
  overflow: hidden;
}

.liquid-glass {
  position: absolute;
  left: var(--x);
  top: var(--y);
  border-radius: 48px;
  border: solid 1px #fff5;
  --glass-depth: 24px;
  --glass-frost: 2px;
  --glass-strength: 50;
}

canvas {
  transform: translateX(+110%);
  display: none;
}